* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2b2b2b;
  color: aliceblue;
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin-top: 2vh;
  width: 100%;
  text-align: center;
}

.display {
  height: 50vh;
  display: flex;
  width: 65vw;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 5vh;
}

.card {
  background-color: rgba(66, 66, 66, 0.8);
  padding: 2vh;
  height: 35vh;
  width: 10vw;
  border-radius: 15px;
  gap: 1.5vh;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}
