* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2b2b2b;
  min-height: 100vh;
  color: aliceblue;
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin-top: 2vh;
  width: 100%;
  text-align: center;
}

.display {
  min-height: 50vh;
  display: flex;
  width: 65vw;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 5vh;
}

.card {
  background-color: rgba(66, 66, 66, 0.8);
  padding: 2vh;
  min-height: 35vh;
  min-width: 10vw;
  border-radius: 15px;
  margin-bottom: 35px;
  gap: 1.5vh;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  animation: fadein 1.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#bookForm {
  display: none;
  margin-bottom: 35px;
}

#openBtn {
  background-color: #32a123;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  padding: 8px;
  border: 2px solid black;
  border-radius: 7px;
}

#openBtn:hover {
  border: 2px solid white;
  background-color: #3cbe2b;
}

#submitBtn,
#closeBtn {
  background-color: #3cbe2b;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  padding: 8px;
  border: 2px solid black;
  border-radius: 7px;
}

#openBtn:hover,
#submitBtn:hover,
.cardRead:hover {
  border: 2px solid white;
  background-color: #3cbe2b;
}

#closeBtn {
  background-color: #d44b4b;
}

#closeBtn:hover {
  border: 2px solid white;
}

.material-icons-outlined {
  font-family: "Material icons";
}

.trashBtn {
  margin-top: auto;
  margin-left: auto;
  font-family: "Material icons";
  text-align: end;
  font-size: 1.5rem;
}

.trashBtn:hover {
  color: #fa0808;
  cursor: pointer;
}

.cardRead {
  background-color: #3cbe2b;
  padding: 0.5vh;
  font-weight: 600;
  border-radius: 7px;
  border: 2px solid black;
}

.cardNotRead {
  background-color: #d44b4b;
  font-weight: 600;
  padding: 0.5vh;
  border-radius: 7px;
  border: 2px solid black;
}

.cardNotRead:hover {
  cursor: pointer;
  border: 2px solid white;
}

footer {
  background-color: #202020;
  width: 100vw;
  height: 9vh;
  text-align: center;
  padding-top: 3vh;
  margin-top: auto;
}
